
<div class="legend">
    <div class="legend-item">
        <h4>Máscara</h4>
        <ul>
            <li>
                <img src="../../assets/images/png/required-mask.png" alt="required-mask">
                <p>Obrigatório</p>
            </li>
            <li>
                <img src="../../assets/images/png/recommended-mask.png" alt="recommended-mask">
                <p>Recomendado</p>
            </li>
        </ul>
    </div>
    <div class="legend-item">
        <h4>Toalha</h4>
        <ul>
            <li>
                <img src="../../assets/images/png/required-towel.png" alt="required-towel">
                <p>Obrigatório</p>
            </li>
            <li>
                <img src="../../assets/images/png/recommended-towel.png" alt="recommended-towel">
                <p>Recomendado</p>
            </li>
        </ul>
    </div>
    <div class="legend-item">
        <h4>Bebedouro</h4>
        <ul>
            <li>
                <img src="../../assets/images/png/partial-fountain.png" alt="partial-fountain">
                <p>Parcial</p>
            </li>
            <li>
                <img src="../../assets/images/png/not_allowed-fountain.png" alt="not_allowed-fountain">
                <p>Proibido</p>
            </li>
        </ul>
    </div>
    <div class="legend-item">
        <h4>Vestiários</h4>
        <ul>
            <li>
                <img src="../../assets/images/png/allowed-lockerroom.png" alt="allowed-lockerroom">
                <p>Liberado</p>
            </li>
            <li>
                <img src="../../assets/images/png/partial-lockerroom.png" alt="partial-lockerroom">
                <p>Parcial</p>
            </li>
            <li>
                <img src="../../assets/images/png/closed-lockerroom.png" alt="closed-lockerroom">
                <p>Fechado</p>
            </li>
        </ul>
    </div>
</div>