header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    gap: 80px;
}

header .logo-container {
    background: black;
    padding: 32px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo-container img {
    width: 100%;
    max-width: 180px;
}

header .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 80%;
    margin: 0 auto;
}

header .text-container h1 {
    font-size: 40px;
    color: var(--dark-grey);
}

header .text-container p {
    font-size: 16px;
    color: var(--light-grey);
}

header .text-container .heading {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    margin-bottom: 40px;
    gap: 16px;
}

header .text-container .heading .heading-border {
    width: 35%;
    height: 10px;
    background: var(--dark-grey);
}